<div class="row justify-content-center">
    <div class="col">
        <form name="editForm" role="form" novalidate (ngSubmit)="simulate()" #editForm="ngForm">

            <div class="modal-header">
                <h4 class="modal-title" id="myUserLabel" jhiTranslate="simulateur.lmnp.title">
                    Simulation LMNP</h4>
            </div>
            <div class="modal-body">
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="simulateur.lmnp.prixAchat">Prix Achat</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="prixAchat" #prixAchatInput="ngModel" [(ngModel)]="lmnpIn.prixAchat" maxlength="10">
                    </div>
                    <div *ngIf="prixAchatInput.dirty && prixAchatInput.invalid">
                        <small class="form-text text-danger" *ngIf="prixAchatInput.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{max: 10}">
                            This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label class="form-control-label" jhiTranslate="simulateur.lmnp.loyerNet">Loyer Net Mensuel</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="loyerNet" #loyerNetInput="ngModel" [(ngModel)]="lmnpIn.loyerNet" maxlength="10">

                        <div *ngIf="loyerNetInput.dirty && loyerNetInput.invalid">
                            <small class="form-text text-danger" *ngIf="loyerNetInput.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{max: 10}">
                                This field cannot be longer than 10 characters.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                        <span class="fa fa-ban"></span>&nbsp;
                        <span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <span class="fa fa-floppy-o"></span>&nbsp;
                        <span jhiTranslate="simulateur.lmnp.launch">Lancer</span>
                    </button>
                </div>

        </form>
        </div>
        <div class="col">
            Result

            <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered">
                        <thead>
                        <tr>
                            <th (click)="orderProp = 'timestamp'; reverse=!reverse"><span jhiTranslate="simulateur.lmnp.libelle">Libelle</span></th>
                            <th (click)="orderProp = 'principal'; reverse=!reverse"><span jhiTranslate="simulateur.lmnp.microBic">Micro BIC</span></th>
                            <th (click)="orderProp = 'type'; reverse=!reverse"><span jhiTranslate="simulateur.lmnp.reel">Reel</span></th>
                        </tr>
                        </thead>
                        <!--<tr *ngFor="let audit of getAudits()">
                            <td><span>{{audit.timestamp| date:'medium'}}</span></td>
                            <td><small>{{audit.principal}}</small></td>
                            <td>{{audit.type}}</td>
                            <td>
                                <span *ngIf="audit.data" ng-show="audit.data.message">{{audit.data.message}}</span>
                                <span *ngIf="audit.data" ng-show="audit.data.remoteAddress"><span jhiTranslate="audits.table.data.remoteAddress">Remote Address</span> {{audit.data.remoteAddress}}</span>
                            </td>
                        </tr>-->
                    </table>
                </div>
        </div>
    </div>
